{
	"plugins": [
		[
			"transform-runtime", // babel-plugin-transform-runtime的缩写
			{
				"helpers": false,
				"polyfill": false,
				"regenerator": true,
				"moduleName": "babel-runtime"
			}
		]
	],
	"presets": [
		"es2015",
		"react",
		[
			"env",
			{
				"modules": false,
				"targets": {
					"browsers": ["last 2 versions"]
				}
			}
		],
		"stage-2"
	],
	"comments": false
}
