.blog-bg {
	background: #fff;
	margin-top: 10px;
	padding: 10px;
	position: relative;
	.main {
		display: flex;
		flex-wrap: wrap;
		.section {
			width: 33%;
			.label {
				display: inline-block;
				width: 100px;
				padding: 8px 20px;
			}
			.val {
				display: inline-block;
			}
		}
	}
	.new-btn {
		position: absolute;
		right: 20px;
		display: inline-block;
		top: 10px;
	}
	.search-line {
		padding: 10px;
		.ant-input {
			margin-right: 10px;
		}
	}
}
