.main-page {
	.nav {
		height: 60px;
		line-height: 60px;
		background: #fff;
		.toggle-icon {
			font-size: 18px;
			padding-left: 18px;
		}
	}
	.main-content {
		margin: 0 18px;
	}
}
.home-page {
	.general-desc {
		height: 120px;
		background: #fff;
	}
}
