#app {
	height: 100%;
	color: #333;
	.main-index {
		height: 100%;
		.main-page {
			height: 100%;
			.ant-layout {
				height: 100%;
				.ant-layout-sider {
					height: 100%;
				}
			}
		}
	}
	.p10 {
		padding: 10px;
	}
	.plr10 {
		padding-left: 10px;
		padding-right: 10px;
	}
	.pr10 {
		padding-right: 10px;
	}
	.p20 {
		padding: 20px;
	}
	.pt20 {
		padding-top: 20px;
	}
	.plr20 {
		padding-left: 20px;
		padding-right: 20px;
	}
	.pr20 {
		padding-right: 20px;
	}
	.mr10 {
		margin-right: 10px;
	}
	.fs12 {
		font-size: 12px;
	}
	.fs14 {
		font-size: 14px;
	}
	.fs16 {
		font-size: 16px;
	}
	.color333 {
		color: #333;
	}
	.color666 {
		color: #666;
	}
	.color999 {
		color: #999;
	}
}
ul,
ol,
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	margin: 0;
	padding: 0;
}
